body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 img {
  width: 190px;
  margin: 20px;
}

input[type=date] {
  border: 2px solid #b4b4b4;
  border-radius: 8px;
  background: #e1e1e1;
  font-size: 16px;
  padding: 10px;
  margin: 3px;
  text-align: center;
}

input[type=number] {
  border: 2px solid #b4b4b4;
  border-radius: 8px;
  background: #e1e1e1;
  font-size: 16px;
  padding: 10px;
  margin: 3px;
}


button{
  background-color: #59ac48;
  color: darkgreen;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
}

button:hover{
  transition-duration: 0.3s;
  background-color: #2ad680;
  color: #f0f8ff;
}

.result {
  text-align: center;
  border: 2px solid #b4b4b4;
  border-radius: 8px;
  background: #e1e1e1;
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
  margin: 3px;
}